/YDT.FingerPrint/02.Infrastructure/TesoTellerIntDevice/bin/Debug/*.pdb
/YDT.FingerPrint/YDT.WinForm/obj/Release/*.pdb
/YDT.FingerPrint/02.Infrastructure/TesoTellerIntDevice/obj/Release/*.pdb
/YDT.FingerPrint/YDT.WinForm/bin
obj
bin
